# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
/.classpath
/.project
/RUNNING_PID
/.settings
*.DS_Store
.cache
project/.sbtserver
project/.sbtserver.lock
/bin
.cache-main
.cache-tests
.sbtserver/
*.keystore
project/project
project/target
/.idea
.gradle/
